{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block pagename %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = '{% static "css/border.css" %}'>
    <title>Главная</title>
</head>
<body>
    <h1> Главная страница </h1>
{% endblock %}


{% block menu %}
<link rel="stylesheet" href = '{% static "css/main_menu.css" %}'>
<div class="main_menu">
    <p>
        <a href="/"> Главная </a>
    </p>
    <p>
        <a href="/shop/"> Mагазин </a>
    </p>
    <p>
        <a href="/cart/"> Корзина </a>
    </p>
    <p>

    </p>
</div>

{% endblock %}

<main>
{% block content %}
{% endblock %}
</main>
</body>
</html>